body {
  margin: 0px;
  font-family: "Fira Sans", sans-serif;
}

:root {
  --black: #000000;
  --blue: #0d10e9;
  --gray: #808080;
  --lightBlue: #4dd2ff;
  --lightGray: #d1d4db;
  --orange: #ffbb3c;
  --teal: #1bf0da;
  --white: #ffffff;
}

.none {
  display: none;
}

#resume-button {
  float: right;
  margin-top: 5px;
  margin-right: 10%;
  padding: 7px;
  font-size: 0.75em;
  background-color: var(--white);
  border: 1.75px solid var(--orange);
  border-radius: 3px;
}
#resume-button a {
  text-decoration: none;
}

#resume-button:hover {
  background-color: var(--teal);
  border: 2px solid var(--black);
}

.hide-iframe {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
}

#expand-bio {
  font-size: 0.75em;
  border: 2px solid var(--teal);
  width: auto;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
}

#expand-bio:hover {
  background-color: var(--teal);
  border: 2px dotted black;
}
.hide {
  display: none;
}
.developing {
  text-shadow: 0px 0px 3px var(--black);
  font-weight: lighter;
}
.title {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.title a {
  text-decoration: none;
  color: var(--black);
}
.title a:visited {
  color: var(--black);
}
.title a:hover {
  font-weight: bold;
  color: var(--orange);
}

.title-image {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0px auto;
  border: solid 1px black;
  box-shadow: 0 0 15px 0 rgba(72, 94, 116, 0.7);
}
.title-image:hover {
  border-radius: 50%;
  transition: 0.6s;
}

.js-image {
  position: relative;
  top: 2px;
}
.node-image {
  position: relative;
  top: 0px;
}
.react-image {
  position: relative;
  top: 0px;
}
.redux-image {
  position: relative;
  top: 2px;
}
.icons {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 4fr;
  margin: auto;
}
.icons img:hover {
  opacity: 0.25;
}
.first-container {
  margin-top: 0;
  padding-top: 70px;
  padding-bottom: 20px;
}
.second-container {
  margin-top: 0px;
  padding: 50px;
  width: 55%;
  font-family: "Slabo 27px", serif;
}
.third-container {
  margin-top: 0px;
  padding: 50px;
  text-align: right;
  font-family: "Slabo 27px", serif;
}

.fourth-container {
  margin-top: 0px;
  padding: 50px;
  font-family: "Slabo 27px", serif;
}

.fifth-container {
  margin-top: 0px;
  padding: 100px;
  text-align: center;
  font-family: "Slabo 27px", serif;
}

.fa {
  margin: 0px 5px;
}

.contact-links a {
  text-decoration: none;
  color: var(--black);
}

.contact-links a:hover {
  text-decoration: none;
  color: var(--blue);
}

#contact a {
  color: var(--black);
}

#contact a:hover {
  text-decoration: none;
  color: var(--blue);
}

form {
  margin: 0 50px;
  width: 500px;
  padding: 1em;
  border: 2px dotted var(--lightBlue);
  border-radius: 1em;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid var(--gray);
}

input:focus,
textarea:focus {
  border-color: var(--black);
}

textarea {
  vertical-align: top;
  height: 5em;
}

button {
  margin-left: 150px;
}

#arrow-up {
  margin-left: 90%;
}

li {
  list-style-type: none;
}

.project-image:hover {
  opacity: 0.5;
}

.project-title {
  text-align: center;
}
.project-description {
  text-align: left;
  width: 100%;
}
.right-side-header {
  margin-right: 20%;
}

#projects-title {
  text-align: center;
  text-decoration: underline;
}

.projects-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#dieHard {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  justify-self: center;
}
#cards {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  justify-self: center;
}
#paycheck-strategy {
  grid-row: 3 / 4;
  grid-column: 2/ 4;
  justify-self: center;
}
#saltAndPepper {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  justify-self: center;
}
#proofer {
  grid-row: 5 / 6;
  grid-column: 2 / 4;
  justify-self: center;
}

.links-ul {
  display: grid;
  text-align: center;
  text-decoration: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 15px;
  width: 90%;
  /* margin: auto; */
}

.links-ul a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: var(--black);
}
.links-ul li {
  width: 80%;
  justify-self: center;
  padding: 10px;
}
.links-ul li:hover {
  border: 1px solid var(--lightBlue);
  background-color: var(--lightBlue);
  border-radius: 100px;
}

.project-title {
  margin-top: 10px;
}

/* XXXL */
@media only screen and (max-width: 1950px) {
  .project-list-item {
    width: 700px;
  }
  .project-image {
    width: 700px;
  }

  .projects-ul {
    grid-gap: 15px;
  }
  .second-container {
    margin-top: 0px;
    padding: 50px;
    width: 700px;
    font-size: 25px;
    font-family: "Slabo 27px", serif;
  }
  .third-container {
    margin-top: 0px;
    padding: 50px;
    text-align: right;
    font-family: "Slabo 27px", serif;
    font-size: 25px;
  }
  .project-image:hover {
    opacity: 0.5;
  }
}

/* XXL */
@media only screen and (max-width: 1500px) {
  .project-list-item {
    width: 550px;
  }
  .project-image {
    width: 550px;
  }

  .projects-ul {
    grid-gap: 15px;
  }
  .third-container {
    margin-top: 0px;
    padding: 50px;
    text-align: right;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
  }
}

/* XL */
@media only screen and (max-width: 1250px) {
  .project-list-item {
    width: 400px;
  }
  .project-image {
    width: 400px;
  }

  .projects-ul {
    grid-gap: 15px;
  }
  .second-container {
    font-size: 18px;
  }
  .third-container {
    margin-top: 0px;
    padding: 10px 40px 10px 40px;
    text-align: right;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
  }
}

/* L */
@media only screen and (max-width: 928px) {
  .project-list-item {
    width: 275px;
  }
  .projects-ul {
    grid-gap: 5px;
  }
  .project-image {
    width: 275px;
  }
  .second-container {
    margin-top: 0px;
    padding: 20px 40px 10px 40px;
    width: 500px;
    font-size: 15px;
    font-family: "Slabo 27px", serif;
  }
  .third-container {
    margin-top: 0px;
    padding: 10px 40px 10px 40px;
    text-align: right;
    font-family: "Slabo 27px", serif;
    font-size: 15px;
  }
  .fourth-container {
    margin-top: 0px;
    padding: 10px 40px 20px 40px;
  }
  .fifth-container {
    margin-top: 0px;
    padding: 10px 40px 20px 40px;
  }
}

/* M */
@media only screen and (max-width: 675px) {
  .project-list-item {
    width: 150px;
  }
  .projects-ul {
    grid-gap: 5px;
  }
  .project-image {
    width: 150px;
  }
  .second-container {
    margin-top: 0px;
    padding: 20px 40px 10px 40px;
    width: 400px;
    font-size: 15px;
    font-family: "Slabo 27px", serif;
  }
}

/* S */
@media only screen and (max-width: 450px) {
  .project-list-item {
    width: 200px;
  }
  .projects-ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
  .project-image {
    width: 200px;
  }
  .first-container {
    width: 200px;
    margin: auto;
  }
  .second-container {
    margin-top: 0px;
    padding: 20px 40px 10px 40px;
    width: 175px;
    font-size: 16px;
    font-family: "Slabo 27px", serif;
  }
  .contact-form {
    width: 200px;
  }
  .form-input {
    width: 198px;
  }
  .fourth-container {
    margin-top: 0px;
    padding: 5px;
    font-family: "Slabo 27px", serif;
  }
  .fifth-container {
    margin-top: 0px;
    padding: 5px;
    text-align: center;
    font-family: "Slabo 27px", serif;
  }
  #dieHard {
    grid-row: 1 / 2;
    grid-column: 1/ 2;
  }
  #cards {
    grid-row: 2 / 3;
    grid-column: 1/ 2;
  }
  #paycheck-strategy {
    grid-row: 3 / 4;
    grid-column: 1/ 2;
  }
  #saltAndPepper {
    grid-row: 4 / 5;
    grid-column: 1/ 2;
  }
  #proofer {
    grid-row: 5 / 6;
    grid-column: 1/ 2;
  }
  .links-ul {
    grid-gap: 5px;
    grid-template-columns: 1fr;
    padding: 5px;
    width: 80%;
    margin: auto;
    float: none;
  }
}
